.img-fit{
    width: 100%
}
.nav-logo{
    width: 100px
}

.contact-twin{
    padding-left: 40px;
    padding-right: 40px;
}

.btn-primary{
    background-color: #F37A46 !important;
}
.btn-primary:hover, .btn-primary:active{
    background-color: #f55510 !important;
    border-color: transparent !important; 
}

@media only screen and (max-width:968px) {
    .contact-twin{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .bg-contact{
        height: auto !important
    }
}